$main-color: #1a8c97;
$admin-color: #367FA9;
$sidebar-color: #222D32;
$sidebar-color-2: #1E282C;
$green-color: #1E282C;
$orange-color: #F39C12;
$red-color: #DD4B39;
$light-blue-color: #D9EDF7;
$icon-size: 60px;
$main-font: 'Roboto', sans-serif;